<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Koyakosso-Esso</label>
        <label for="h2">Pentester</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="#" class="checked">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container">
        <div class="container-items-about-me">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">About Me</h2>
                <span>Artist. Thinker. Creative Doer</span>
            </div>
            
            <div class="container-about-me flex padding-left-right">
                <div class="container-about-me-1 flex-1">
                    <h3>I am Web Developer/Designer @ Company.com</h3>
                    <p>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont 
                        rendu plus difficile l’accès au financement pour les PME, 
                        qui ont souvent des ressources financières limitées et 
                        dépendent largement de sources de financement externes. 
                        Les difficultés d'accès aux financements restent l'un des 
                        principaux obstacles à la création, la survie et la croissance 
                        des petites et moyennes entreprises, en particulier les plus
                        innovantes d'entre elles. La crise financière, la plus 
                       les PME. En juin 2004, financer les PME innovantes 
                    </p>
                    <p>
                        a pour mission de promouvoir les politiques qui 
                        améliorent le bien-être économique et sociale partout 
                        dans le monde, le financement a été toujours un 
                        domaine essentiel des travaux du groupe de travail 
                        de l’OCDE sur 
                        grave depuis des décennies, à laquelle les entreprises sont
                        désormais confrontées, ne fait qu'exacerber les difficultés
                        dans ce domaine. Par exemple pour l'organisation 
                        de coopération et de développement économiques (OCDE) qui
                    </p>
                </div>
                <div class="container-about-me-2 flex-1 m">
                    
                    <h3>Testimonials</h3>
                    <div class="citation-q">
                        <q>
                            grave depuis des décennies, à laquelle les entreprises sont
                            désormais confrontées, ne fait qu'exacerber les difficultés
                            dans ce domaine. Par exemple pour l'organisation 
                            de coopération et de développement économiques (OCDE) qui
                        </q>
                    </div>
                    <div class="image-logo flex flex-center-h">
                        <img src="/assets/css/icon/img_icon/user2.png" alt="ma photo">
                        <div class="flex-center margin-top">
                            <label for="ma photo">Amos christopher</label>
                            <label for="ma photo">SUN FOODS</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot1-about-me">
                <h3>Services</h3>
                <div class="flex">
                    <div class="flex-1 flex-center-v flex-center">
                        <img src="/assets/image/airport-g71a5488fb_1920.jpg" alt="">
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="flex-1 flex-center-v flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="flex-1 flex-center-v flex-center">
                        <img src="/assets/image/businesswoman-gfba4a0445_1920.jpg" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="flex-1 flex-center-v flex-center">
                        <img src="/assets/image/cockpit-100624_1920.jpg" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="foot2-about-me">
                <h3>Clients</h3>
                <div class="flex flex-center-v flex-center-h">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                </div>
            </div>
            <div class="foot3-about-me">
                <h3>Fun Facts</h3>
                <div class="flex flex-center-v flex-center-h">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">
                    <img src="/assets/image/airplane-3702676_1920.jpg" alt="jet privee">

                </div>
            </div>
        </div>
    </div>
</body>
</html>