<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Koyakosso-Esso</label>
        <label for="h2">Pentester</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="about_me.html">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="#" class="checked">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container blog-container">
        <div class="container-items-portfolio">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">Blog</h2>
                <span>My Diary</span>
            </div>
            
            <div class="blog-container-body block padding-left-right">
                <div class="blog-body flex">
                    <div class="flex-1 block flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>Sport</span>
                        <h3>Designed for Everyone, Everywhere</h3>
                    </div>
                    <div class="flex-1 flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>CSS</span>
                        <h3>An Introduction To PostCSS</h3>
                    </div>
                </div>
                <div class="blog-body flex">
                    <div class="flex-1 block flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>CSS3</span>
                        <h3>Original and Innovative Web Layouts</h3>
                    </div>
                    <div class="flex-1 flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>HTML5</span>
                        <h3>Creative and Innovative Navigation Designs</h3>
                    </div>
                </div>
                <div class="blog-body flex">
                    <div class="flex-1 block flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>Design</span>
                        <h3>Navigation For Mega-Sites</h3>
                    </div>
                    <div class="flex-1 flex-center">
                        <img src="/assets/image/basketball-14861_640.jpg">
                        <span>CSS3</span>
                        <h3>Font-End challenge Accepted: CSS 3D Cube</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>