<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Alex Smith</label>
        <label for="h2">Web Designer</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="about_me.html">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="#" class="checked">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container contact-container">
        <div class="container-items-resume">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">Contact</h2>
                <span>Get In Touch</span>
            </div>           
            
            <div class="contact-container-body flex">
                <div class="contact-body-left flex-1">
                    <h3>Get In TouchS</h3>
                    <p>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont 
                        rendu plus difficile l’accès au financement pour les PME, 
                        qui ont souvent des res
                    </p>
                    <div class="icon">
                        <a href="#" class="flex"><i class="fa fa-map-marker"></i><label>Bangui, Centrafrique</label></a>
                        <a href="#" class="flex"><i class="fa fa-envelope"></i><label>christkoyakosso@gmail.com</label></a>
                        <a href="#" class="flex"><i class="fa fa-phone"></i><label>+237 691116932</label></a>
                        <a href="#" class="flex"><i class="fa fa-check-circle-o"></i><label>Freelance Available</label></a>
                    </div>
                </div>
                <aside class="contact-body-right flex-1">
                    <h3>Contact From</h3>
                    <div class="flex">
                        <input type="text" name="" placeholder="full name">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="flex">
                        <input type="text" name="" placeholder="Email address">
                        <i class="fa fa-user"></i>
                    </div>
                    <textarea name="message" id="" cols="30" rows="5" placeholder="Message for me"></textarea>
                </aside>
            </div>
        </div>
    </div>
</body>
</html>