<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Koyakosso-Esso</label>
        <label for="h2">Pentester</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="about_me.html">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="#" class="checked">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container folio-container">
        <div class="container-items-portfolio">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">Portfolio</h2>
                <span>My Best Works</span>
            </div>
            <nav>
                <ul class="flex flex-center-v flex-center-h">
                    <li><a href="#">Tous</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">Musique</a></li>
                    <li><a href="video.html">Video</a></li>
                </ul>
            </nav>
            
            <div class="folio-container-body block padding-left-right">
                <h2>Mes photographies</h2>
                <div class="flex">
                    <img src="/assets/image/cockpit-100624_1920.jpg" class="flex-1">
                    <img src="/assets/image/airplane-3702676_1920.jpg" class="flex-1">
                    <img src="/assets/image/basketball-14861_640.jpg" class="flex-1">
                </div>
                <div class="flex">
                    <img src="/assets/image/cockpit-100624_1920.jpg" class="flex-1">
                    <img src="/assets/image/airplane-3702676_1920.jpg" class="flex-1">
                    <img src="/assets/image/basketball-14861_640.jpg" class="flex-1">
                </div>
             </div>
             
             <div class="folio-container-body block padding-left-right">
                <h2>Mes Videos de formations</h2>
                <video class="flex-1" src="/assets/video/1.mp4" controls muted></video>
             </div>
             <div class="folio-container-body block padding-left-right">
                <h2>Mes documents de formations</h2>
                <iframe src="/assets/document/dynamiser.pdf" frameborder="1" width="100%" height="800"></iframe>
             </div>
        </div>
    </div>
</body>
</html>