<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Koyakosso-Esso</label>
        <label for="h2">Pentester</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="about_me.html">About me</a></li>
                <li><a href="#" class="checked">Resume</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container">
        <div class="container-items-resume">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">Resume</h2>
                <span>6 month of Experience</span>
            </div>            
            
            <div class="container-body flex padding-left-right">
                <div class="container-body-left flex-1">
                    <h3>Education</h3>
                    <h4 class="flex flex-center-h">2010</h4>
                    <p>
                        <span>Specialization Course</span>
                        <span>University of Studies</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                    <h4 class="flex flex-center-h">2009</h4>
                    <p>
                        <span>Specialization Course</span>
                        <span>University of Studies</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                    <h4 class="flex flex-center-h">2008</h4>
                    <p>
                        <span>Specialization Course</span>
                        <span>University of Studies</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                </div>
                <div class="container-body-center flex-1">
                    <h3>Experience</h3>
                    <h4 class="flex flex-center-h">Dec 2012-Current</h4>
                    <p>
                        <span>Frontend-developer</span>
                        <span>Web Agency</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                    <h4 class="flex flex-center-h">Dec 2011-Nov 2012</h4>
                    <p>
                        <span>Web Designer</span>
                        <span>Apple Inc</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                    <h4 class="flex flex-center-h">Jan 2010-Dec 2011</h4>
                    <p>
                        <span>Graphic Designer</span>
                        <span>Web Agency</span>
                        L'économie mondiale a été marqué ces dernières années 
                        par des crises de différentes natures (crises financières, 
                        économiques, sanitaires, politiques et même sociales) qui 
                        ont eu un impact significatif sur les PME. Ces crises ont  
                    </p>
                </div>
                <div class="container-body-rigth flex-1">
                    <h3>Design Skills</h3>
                    <u>Web Design<u>
                    <div class="charge"></div>
                    <u>Graphic Design</u>
                    <div class="charge"></div>
                    <u>Print Design</u>
                    <div class="charge"></div>

                    <h3>Coding Skills</h3>
                    <u>HTML5<u>
                    <div class="charge"></div>
                    <u>CSS3</u>
                    <div class="charge"></div>
                    <u>jQuery</u>
                    <div class="charge"></div>
                    <u>Wordpress</u>
                    <div class="charge"></div>
                    <u>PHP</u>
                    <div class="charge"></div>
                </div>
            </div>  
            <input type="button" value="Download CV">
        </div>
    </div>
</body>
</html>