<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio video</title>
    <link rel="shortcut icon" href="/assets/css/icon/img_icon/user2.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/video/main.css" type="text/css">
</head>
<body class="">
    <header class="flex-center">
        <img src="/assets/css/icon/img_icon/user2.png" alt="icon login" class="header-icon space-top">
        <label for="h1">Alex Smith</label>
        <label for="h2">Web Designer</label>
        <nav>
            <ul class="space-top">
                <li><a href="/">Accueil</a></li>
                <li><a href="about_me.html">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="#" class="checked">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        
            <i class="fa fa-twitter social"></i>
            <i class="fa fa-facebook social"></i>
            <i class="fa fa-google social"></i>
        
    </header>
    <div class="container folio-container">
        <div class="container-items-portfolio">            
            <div class="header-about-me flex flex-center-h">
                <h2 class="police flex-center-h flex">Portfolio</h2>
                <span>My Best Works</span>
            </div>
            <nav>
                <ul class="flex flex-center-v flex-center-h">
                    <li><a href="portfolio.html">All</a></li>
                    <li><a href="#">Document</a></li>
                    <li><a href="#">Musque</a></li>
                    <li><a href="video.html">Video</a></li>
                </ul>
            </nav>
            <div class="folio-video-container-body block">
                <div class="video-body padding-left-right flex">
                    <video class="flex-1" src="/assets/video/1.mp4" controls muted></video>
                    <video class="flex-1" src="/assets/video/2.mp4" controls muted></video>
                    <video class="flex-1" src="/assets/video/1.mp4" controls muted></video>
                </div>
                <div class="video-body padding-left-right flex">
                    <video class="flex-1" src="/assets/video/1.mp4" controls muted></video>
                    <video class="flex-1" src="/assets/video/2.mp4" controls muted></video>
                    <video class="flex-1" src="/assets/video/1.mp4" controls muted></video>
                </div>
            </div>
        </div>
    </div>
</body>
</html>